<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="form-outline mb-3">
        <button class="btn btn-primary">Agregar Sucursal</button>
      </div>
    </div>
    <div class="col-12">
      <table class="table align-middle bg-white">
        <thead class="bg-light">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Modificar</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="fw-normal mb-1">ID</p>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="mb-1">
                  <p class="fw-bold mb-1">Sucursal</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">Dirección</p>
            </td>
            <td>
              <p class="fw-normal mb-1">Latitud</p>
            </td>
            <td>
              <p class="fw-normal mb-1">Longitud</p>
            </td>
            <td>
              <button type="button" class="btn btn-primary">Modificar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

