<div class="container mt-3">
  <h2 class="text-center">Información de Ingredientes</h2>
    <div class="row">
      <div class="col-12">
        <div class="form-outline mb-3">
          <button class="btn btn-primary"[routerLink]="['/NuevoIngrediente']">Agregar Ingrediente</button>
        </div>
      </div>
      <div class="col-12">
        <table class="table align-middle bg-white">
          <thead class="bg-light">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Modificar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>
                <p class="fw-normal mb-1">ID</p>
            </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="mb-1">
                    <p class="fw-bold mb-1">Nombre</p>
                  </div>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-primary"[routerLink]="['/ModificarIngrediente']">Modificar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="eliminarRegistro()">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
