<div class="container mt-3">
  <h2 class="text-center">Información de Pedidos</h2>
  <div class="row">
    <div class="col-12">
      <table class="table align-middle bg-white">
        <thead class="bg-light">
          <tr>
            <th>ID </th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Pedido Completado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of pedidos">
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.usuario_id }}</td>
            <td>{{ pedido.fecha }}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="completarPedido(pedido.id)">Completado</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
