<div class="modificarIngrediente">
    <h2 id="perfiltxt">Modificar información de Ingrediente</h2>
    <form action="">
        <div class="form-group">
            <label for="NombreIngrediente">Nombre</label>
            <input type="text" class="form-control" placeholder="Ingrese el nombre" formControlName="NombreIngrediente" id="NombreIngrediente">
        </div>

        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary mr-2">Guardar</button>
            <button type="button" class="btn btn-secondary"[routerLink]="['/Ingredientes']">Salir</button>
        </div>
    </form>
</div>