<div class="registroUsuario">
    <h2 id="perfiltxt">Registro de Sucursal</h2>
    <form action="">
        <div class="form-group">
            <label for="NombreCancha">Nombre Sucursal</label>
            <input type="text" class="form-control" placeholder="Ingrese el nombre" formControlName="NombreCancha" id="NombreCancha">
        </div>

        <div class="form-group">
            <label for="Domicilio">Domicilio</label>
            <input type="text" class="form-control" placeholder="Ingrese el domicilio" formControlName="Domicilio" id="Domicilio">
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Latitud">Latitud</label>
                <input type="text" class="form-control" placeholder="Ingrese la latitud" formControlName="Latitud" id="Latitud">
            </div>
            <div class="form-group col-md-6">
                <label for="Longitud">Longitud</label>
                <input type="text" class="form-control" placeholder="Ingrese la longitud" formControlName="Longitud" id="Longitud">
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary mr-2">Guardar</button>
            <button type="button" class="btn btn-secondary">Salir</button>
        </div>
    </form>
</div>
