<div class="registroUsuario">
  <h2 id="perfiltxt">Modificar información de Sucursal</h2>
  <form [formGroup]="sucursalForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" placeholder="Ingrese el nombre" formControlName="nombre" id="nombre">
      </div>

      <div class="form-group">
          <label for="direccion">Domicilio</label>
          <input type="text" class="form-control" placeholder="Ingrese el domicilio" formControlName="direccion" id="direccion">
      </div>

      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="latitud">Latitud</label>
              <input type="text" class="form-control" placeholder="Ingrese la latitud" formControlName="latitud" id="latitud">
          </div>
          <div class="form-group col-md-6">
              <label for="longitud">Longitud</label>
              <input type="text" class="form-control" placeholder="Ingrese la longitud" formControlName="longitud" id="longitud">
          </div>
      </div>

      <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-primary mr-2">Guardar</button>
          <button type="button" class="btn btn-secondary" [routerLink]="['/DatosRestaurante']">Salir</button>
      </div>
  </form>
</div>
