
.container-fluid {
  padding: 0;
}

.col-md-2 {
  background-color: #f8f9fa;
  min-height: 100vh; 
  border-right: 1px solid #dee2e6; 
}

.col-md-10 {
  padding: 20px; 
}


app-navbar {
  width: 100%;
}

app-canvas {
  margin-left: 60px; 
}
