<div class="registroUsuario">
    <h2 id="perfiltxt">Información de pedido</h2>
    <form action="">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" placeholder="ID" formControlName="id" id="id" readonly>
        </div>
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" placeholder="Usuario" formControlName="usuario" id="usuario" readonly>
        </div>
        <div class="form-group">
            <label for="platillo">Platillo</label>
            <input type="text" class="form-control" placeholder="Platillo" formControlName="platillo" id="platillo" readonly>
        </div>
        <div class="form-group">
            <label for="informacionPedido">Información de pedido</label>
            <input type="text" class="form-control" placeholder="Información de pedido" formControlName="informacionPedido" id="informacionPedido" readonly>
        </div>
        <div class="form-group">
            <label for="estatus">Estatus</label>
            <input type="text" class="form-control" placeholder="Estatus" formControlName="estatus" id="estatus" readonly>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="button" class="btn btn-secondary"[routerLink]="['/Pedidos']">Salir</button>
        </div>
    </form>
</div>

